.button{
  width: 70px;
  margin: 10px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 4px white;
}

.button:active{
  border: 1px solid black;
  box-shadow: none;

}